<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Templates in scripts</title>
</head>
<body>
  <script id="helloWorld" type="text/x-handlebars-template">
    <h1>{{sayHi}}</h1>
  </script>

  <script id="header" type="text/x-handlebars-template">
    {{home}}
  </script>

  <script id="footer" type="text/x-handlebars-template">
    {{sayHi}}
  </script>

  <script id="layout" type="text/x-handlebars-template">
    <header></header>
    <div class="main-content"></div>
    <footer></footer>
  </script>

  <script id="spinner" type="text/x-handlebars-template">
    <p>Loading...</p>
  </script>

  <script id="item" type="text/x-handlebars-template">
    <p>{{name}}({{year}})</p>
    <p>{{hit}}</p>
  </script>

  <div class="wrapper"></div>

</body>
</html>